html,
body {
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-image: url("https://transform.octanecdn.com/crop/500x700/https://dynamix-cdn.s3.amazonaws.com/jacobandcocom/jacobandcocom_628218714.png");
  background-repeat: no-repeat;
}

a {
  color: #7dd3fc;
  text-decoration: none;
}

p {
  text-align: center;
  margin-top: 20px;
}

* {
  box-sizing: border-box;
}

html {
  color-scheme: dark;
}
body {
  color: #e7e8e8;
}
